body {
    background-color: powderblue;
}

table.albums {
    width: 75%;
}
/*
table, th, td {
    border: 1px solid white;
}
*/
/*
tr.albums:nth-child(even)
{
    background-color: #8959A8;
}

tr.albums:nth-child(odd)
{
    background-color: #5cb85c;
}
*/


.blue {
    color: #0000FF;
}

.altRow {
    background:  #5cb85c;
}

/*
.row :nth-child(even){
    background-color: #0c5460;
}
.row :nth-child(odd){
    background-color: #6c757d;
}
*/
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: inline;
}
*/
li a {
    display: inline;
    color: powderblue;
}

.active {
    background-color: #0c5460;
    color: white;
}

/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
*/

.addHeader {
    color: #AA3333;
    left: 200px;
}

nav#topNav {
    display: flex;
}

nav#topNav > div {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #AA3333;
}

.navbar-nav > li {
    padding: 5px;
}

.yellow {
    color: yellow;
}