body {
    background-color: powderblue;
}

table.albums {
    width: 75%;
}
table, th, td {
    border: 1px solid white;
}
.blue {
    color: #0000FF;
}

.altRow {
    background:  #5cb85c;
}

/*
.row :nth-child(even){
    background-color: #0c5460;
}
.row :nth-child(odd){
    background-color: #6c757d;
}
*/


