{% extends 'base.html.twig' %}

{% block menuJ %}
    <script>
        $(document).ready(function () {
            //$("#addalbum").css("visibility","hidden");
            $("#addsong").addClass("active");
            $("a").addClass("yellow");
        })
    </script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h3 class="addHeader">Add Song...</h3>
albumId: {{ albumId }}
    <div class="row">
        <div class="col-md-6"><a href="{{ path('albumSongs', { 'albumId': albumId, 'artistId': artistId }) }}"><-- Artist Albumss</a> </div>
        <div class="col-md-6"><a href="#">Add Album --></a></div>
    </div>

    {{ form(songForm) }}

{% endblock %}
