{% extends 'base.html.twig' %}

{% block title %}Albums: {{ artistName }}{% endblock %}

{% block body %}

    Whates up {{ artstId }}
     {% for album in artistAlbums %}
     <div class="row">
         <div class="col-md-6">{{ album.artist.name }}</div>
            <div class="col-md-6">{{ album.name }}</div>
         </div>
     {% endfor %}
{% endblock %}