{% extends 'base.html.twig' %}

{% block title %}Show Artist Albums{% endblock %}

{% block body %}

    Whates up {{ artstId }}

    <table>
        {% for album in artistAlbums %}
            <tr>
                {#<td>{{ album.artist }}</td>#}
                <td>{{ album.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}