{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-color: #0000FF; color: white; min-height: 25px">
                Hello World
            </div>
        </div>
    </div>
    {#{{ parent() }}#}
{% endblock %}